.body {
    font-family: 'Roboto',
        sans-serif !important;
    font-size: 16px;
    background-color: #E5E5E5;
    color: #2F2F51;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.container {
    max-width: 1230px;
    margin: 0 auto;
}